@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  color: #fff;
  background-image:  linear-gradient(-173deg, rgba(30, 30, 30, 0.5) 0%, #000000 100%), linear-gradient(72deg, rgba(30, 30, 30, 0.6) 25%, rgba(30, 30, 30, 0.6) 100%), radial-gradient(47% 102%, rgba(255, 255, 255, 0.8) 0%, rgba(21, 24, 32, 0.9) 120%);
}
